<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Spring Boot User Authentication</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
	<section class="section has-background-black-ter">
		<div class="box">
			<h1 class="title">Mini Shopify</h1>

			<p class="subtitle">Create your account!</p>
		</div>
	</section>


	<section class="section">
		<div class="box has-text-white has-background-black-ter">

			<form class="box" role="form" th:action="@{/home}"
				th:method="post" th:object="${merchant}">

				<div class="field">
					<lable class="label">Username</lable>
					<div class="control">
						<input class="input" type="text" id="username" name="username"
							th:field="*{username}" required>
					</div>
				</div>

				<div class="field">
					<lable class="label">Name</lable>
					<div class="control">
						<input class="input" type="text" id="name" name="name"
							   th:field="*{name}">
					</div>
				</div>

				<div class="field">
					<lable class="label">Number</lable>
					<div class="control">
						<input class="input" type="text" id="number" name="number"
							   th:field="*{number}">
					</div>
				</div>

				<div class="field">
					<lable class="label">Email</lable>
					<div class="control">
						<input class="input" type="email" id="email" name="email"
							   th:field="*{email}">
					</div>
				</div>

				<div class="field">
					<lable class="label">Password</lable>
					<div class="control">
						<input class="input" type="password" id="password" name="password"
							th:field="*{password}" required>
					</div>
				</div>

				<input class="button is-primary" value = "Create Account" type="submit">
			</form>

		</div>
	</section>
</body>
</html>