<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Mini Shopify</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<script type="text/javascript" href="/js/test.js"></script>
	</head>

	<body>
		<section class="section has-background-black-ter">
			<div class="box">
				<h1 class="title">Mini Shopify</h1>

				<p class="subtitle">Setup your own shop!</p>
			</div>
		</section>
	

		<section class="section">
			<div class="box has-background-black-ter">
				<form class="box">
					<div class="field">
						<label class="label">Username</label>
						<div class="control">
							<input class="input" type="text" placeholder="e.g. usermame">
						</div>
					</div>

					<div class="field">
						<label class="label">Password</label>
						<div class="control">
							<input class="input" type="password" placeholder="********">
						</div>
					</div>
					
					<button onclick="" class="button is-primary">Sign in</button>
				</form>
				
				<a class = "has-text-white" href = "/createAccount">Click here to create an account</a>
				
			</div>
		</section>
	</body>

</html>