.BackgroundAuth {
  background: linear-gradient(to top left, #66ffcc 0%, #ff99cc 100%);
}

.BackgroundHome {
  background: linear-gradient(
    to left top,
    rgb(102, 255, 204) 0%,
    rgb(250 219 185) 100%
  );
}

.LeftGrid {
  height: 100vh;
}

.LeftGridPhoto {
  width: 30%;
  background-image: url(https://images.unsplash.com/photo-1499232217236-f8a184148559?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80);
  background-repeat: no-repeat;
  background-color: rgb(250, 250, 250);
  background-size: cover;
  background-position: center center;
  margin-top: 1%;
  margin-bottom: 1%;
  box-shadow: rgb(0 0 0 / 14%) 0px 0px 9px 7px,
    rgb(35 33 33 / 8%) 10px 13px 10px 6px;
  border-radius: 25px;
  margin-left: 1%;
  max-width: 460px;
}

.RightGrid {
  width: 69%;
  flex-grow: 1;
}

.AuthPlacement {
  padding: 50px 40px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.AuthRedirectLink {
  padding-left: 5px;
  color: #00ab55;
  cursor: pointer;
}

.SignInGrid {
  margin: 15% 32% 8px 32%;
  display: flex;
  flex-direction: column;
}

.AuthDescriptionBox {
  display: flex;
  align-items: center;
}

.AuthDescription {
  flex-grow: 1;
  text-align: left;
}

.FireboxImg {
  max-width: 35px;
  min-width: 35px;
  min-height: 35px;
  max-height: 35px;
}
