body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "wearedimdam";
  src: local("wearedimdam"),
    url(./fonts/wearedimdam.regular.ttf) format("truetype");
}

@font-face {
  font-family: "rainday";
  src: local("rainday"), url(./fonts/rainday.regular.ttf) format("truetype");
}

@font-face {
  font-family: "ourGeneration";
  src: local("ourGeneration"),
    url(./fonts/our-generation.regular.ttf) format("truetype");
}

@font-face {
  font-family: "gettingBetter";
  src: local("gettingBetter"),
    url(./fonts/getting-better.regular.ttf) format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
